.main
  .main-top
    .main-top--title
      test
    .main-top--button-edit
      Edit
    .main-top--info
      Member：test1111

  .main-midle
    .main-midle--upper-inner
      .main-midle--upper-inner__name
        = message.user.name
      .main-midle--upper-inner__time
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .main-midle--lower-inner
      - if message.content.present?
      %p.main-midle--lower-inner__comment
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?



