.header
  グループを作成しました。

.side-header
  .hedder-top
    .hedder-top--title
      test
    .hedder-top--button-conf
      =fa_icon("cog")

    .hedder-top--button-edit
      =fa_icon("edit")

  .hedder-bottom
    .side-hedder--topic

      .side-hedder--topic__title
        test
      .side-hedder--topic__comment
        さようなら
      .side-hedder--topic__title
        sample-group
      .side-hedder--topic__comment
        hello
      .side-hedder--topic__title
        example
      .side-hedder--topic__comment
        まだメッセージがありません。

=render partial: "messages"
