!!!
header




.wrappar
  .header
  .main
    .frame
      .frame--contents
        .frame--contents__image
        .frame--contents__text

    .view
      .view__title
      .view__profile
      .view__image
      .view__text

    .comments
      .comments__comment
